body {
  font-family: Arial;
  text-align: center;
  background: linear-gradient(to right, #1e90ff, #00c6ff);
  margin: 0;
  padding: 20px;
  transition: 0.3s;
}

h1 {
  color: white;
}

/* inputs */
#search, #taskInput {
  width: 90%;
  max-width: 400px;
  padding: 12px;
  margin: 10px;
  border-radius: 12px;
  border: none;
}

/* card */
.card {
  background: white;
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 15px;
}

/* buttons */
button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background: #1e90ff;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* filters */
.filters button {
  margin: 10px;
  background: white;
  color: black;
}

/* task */
li {
  list-style: none;
  background: white;
  width: 90%;
  max-width: 420px;
  margin: 12px auto;
  padding: 12px 16px;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 10px;

  animation: fadeIn 0.3s ease;
}

/* text */
.task-text {
  flex: 1;
  text-align: left;
  color: black;
  transition: 0.3s;
}

/* completed */
.done {
  text-decoration: line-through;
  opacity: 0.6;
}

/* buttons */
.btns {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.edit {
  background: orange;
}

.delete {
  background: red;
  color: white;
}

/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* DARK MODE */
body.dark {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}

body.dark .card,
body.dark li,
body.dark #search,
body.dark #taskInput {
  background: #1e1e1e;
  color: white;
}

body.dark .task-text {
  color: white;
}

/* MOBILE */
@media (max-width: 500px) {
  h1 {
    font-size: 24px;
  }

  button {
    padding: 8px 14px;
  }
}